*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root {
  /*background*/
  --back-color-dark: #121214;
  --back-color-white: #202024;
  --back-color-error: #f03e3e;
  /*font color*/
  --font-color-white: #ffffff;
  /*size width*/
  --width-geral: 1216px;
  /*source*/
  font-size: 62.5%;
  --font-size-geral: 1.6rem;
}
body {
  scroll-behavior: smooth;
  height: 100vh;
  background-color: var(--back-color-dark);
  color: var(--font-color-white);
  font-family: "Sora", sans-serif;
  overflow-x: hidden;
}
body,
input,
button {
  font-size: var(--font-size-geral);
}
.container {
  max-width: var(--width-geral);
  width: 100%;
  height: 100vh;
  padding: 1.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
.hide {
  display: none;
}
.border {
  border: 1px solid red;
}
/****** start ******/
.card {
  max-width: 400px;
  width: 100%;
  padding: 3.4rem;
  background-color: var(--back-color-white);
  border-radius: 2rem;
  margin-inline: auto;
}

.title,
h2 {
  font-size: 3.2rem;
}

form h1 {
  margin-bottom: 2.5rem;
  color: #e1e1e6;
  text-align: center;
}

form .input-wrap label {
  display: block;
  margin-bottom: 0.8rem;
  font-weight: bold;
  color: #a7a7a7;
}
form .input-wrap input {
  width: 100%;
  padding: 2rem;
  border-radius: 4rem;
  border: none;
  background-color: #41414d;
  color: #e1e1e6;
  font-weight: bold;
}
.input-wrap + .input-wrap {
  margin-top: 2rem;
}
form .input-wrap input:focus {
  outline: 2px solid #179c82;
}
form button {
  padding: 15px 35px;
  display: block;
  border: 0.4rem;
  border-radius: 4rem;
  cursor: pointer;
  font-weight: bold;
  background: #1abc9c;
  color: #fff;
  margin: 0 auto;
  margin-top: 2.5rem;
  transition: background 0.3s;
  font-size: 1.8rem;
}
form button:hover {
  background-color: #179c82;
}
form button img {
  width: 20px;
}
.credito {
  text-align: center;
  color: #41414d;
  margin-top: 20px;
}

.wrap-modal {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  place-content: center;
  opacity: 0;
  visibility: hidden;
}
.wrap-modal.open {
  opacity: 1;
  visibility: visible;
}
.modal {
  position: relative;
  margin-top: -3rem;
  border-radius: 10px;
}

.modal span {
  display: inline-block;
  color: #f03e3e;
}
.wrap-modal button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  transition: transform 0.3s;
  cursor: pointer;
}
.wrap-modal button:hover {
  transform: scale(1.1);
}

.alert-error {
  position: absolute;
  top: 15px;
  right: 15px;
  background: var(--back-color-error);
  padding: 20px;
  width: fit-content;
  border-radius: 0.3rem;
  font-size: 1.4rem;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s;
  transform: translateX(150%);
}

.alert-error.open {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
